.TopBar::before{
    content: "■ ";
    font-size: 30px;
}

.TopBar {
    color: hsl(45, 8%, 28%);
    width: 150px;
    background-color: hsl(48, 16%, 64%);
    padding: 0px 5px ;
    font-size: 20px;
    font-family: "Electrolize", sans-serif;
    font-weight: bold;
    font-style: normal;
    transition: 0.1s ease;
}

.TopBar:hover{
    background-color: #4d4a42;
    color: #d7d0b2;
    transition: 0.1s ease;


}