.carDisplayContainer{
    background-color: hsl(50, 31%, 77%);;
    max-width: 600px;
    padding: 10px;
    box-shadow: 4px 4px hsl(60, 8%, 35%) ;
}

.MenuCarCatalog{
    display: flex;
    flex-direction: column;
    
}