.carDisplayContainer{
    background-color: hsl(50, 31%, 77%);;
    max-width: 600px;
    padding: 10px;
    box-shadow: 4px 4px hsl(60, 8%, 35%) ;
}

.MenuCarCatalog{
    display: flex;
    flex-direction: column;
    
}

.MenuCarCatalog h1{
    font-family: "Electrolize", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #d7d0b2;
    background-color: #4d4a42 ;
    padding: 3px 10px;
    font-size: 25px;
    text-align: center;
}