.MainmenuContainer{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    justify-self: center;
    margin: 50px;
}

.userContainer{
    display: flex;
    flex-direction: column;
    gap:50px
}

@media (max-width:768px){
    .MainmenuContainer{
        flex-direction: column;
        gap:20px
    }
}